<div class="d-about-me">
	<h2>About Me</h2>
	<hr>
	<div class="wrapper">	
		<div class="my-img">
			<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/15161_10155006909055696_2809560357001748257_n.jpg?oh=94c7cab84966be273d141fb7fba995e9&oe=56757130&__gda__=1450264305_6aa1a66ec9eebd363bc9cbfdcf72d17a">
		</div>
		<div class="my-info">	
			<div class="social-links">
				<a href="https://github.com/mrjutsu" target="_blank"><i class="fa fa-github fa-3x" id="gh-link"></i></a>
				<a href="https://co.linkedin.com/in/davidrosillo/en" target="_blank"><i class="fa fa-linkedin-square fa-3x" id="btn-in"></i></a>
				<a href="https://www.facebook.com/drosilloricardo" target="_blank"><i class="fa fa-facebook-square fa-3x" id="btn-fb"></i></a>
				<a href="https://twitter.com/MrJutsu" target="_blank"><i class="fa fa-twitter fa-3x" id="btn-tw"></i></a>
				<!-- <a href="https://instagram.com/mrjutsu/" target="_blank"><i class="fa fa-instagram fa-2x" id="btn-ig"></i></a> -->
			</div>
			<br>
			<span class="me-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus, augue lacinia vehicula rhoncus, est mauris lacinia est, in consectetur augue enim et mi. Etiam interdum ipsum sem, sit amet pharetra nulla dictum congue. Pellentesque cursus tellus eget mauris viverra, ac malesuada orci bibendum. Cras eget sapien odio. Suspendisse a leo pulvinar, vestibulum erat semper, bibendum enim. Cras eu tristique libero. Praesent sodales porttitor libero sed laoreet.</span>
		</div>
	</div>
</div>