<div class="d-about-me">
	<h2>About Me</h2>
	<hr>
	<div class="wrapper">	
		<div class="my-img">
			<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/15161_10155006909055696_2809560357001748257_n.jpg?oh=94c7cab84966be273d141fb7fba995e9&oe=56757130&__gda__=1450264305_6aa1a66ec9eebd363bc9cbfdcf72d17a">
		</div>
		<div class="my-info">
			<div class="top-block">
				<div class="social-links">
					<a href="https://github.com/mrjutsu" target="_blank"><i class="fa fa-github fa-3x" id="gh-link"></i></a>
					<a href="https://co.linkedin.com/in/davidrosillo/en" target="_blank"><i class="fa fa-linkedin-square fa-3x" id="btn-in"></i></a>
					<a href="https://www.facebook.com/drosilloricardo" target="_blank"><i class="fa fa-facebook-square fa-3x" id="btn-fb"></i></a>
					<a href="https://twitter.com/MrJutsu" target="_blank"><i class="fa fa-twitter fa-3x" id="btn-tw"></i></a>
					<!-- <a href="https://instagram.com/mrjutsu/" target="_blank"><i class="fa fa-instagram fa-2x" id="btn-ig"></i></a> -->
				</div>
				<br>
				<p class="me-desc">Hi, my name is David Rosillo, I'm from Barranquilla, Colombia. Multimedia Engineer and web developer by profession. Gamer by passion. I enjoy writing code, playing games in my spare time, petting my dog and eating lots of food.
				<br><br>
				I'm always looking for something to do and new stuff to learn from any available source. I'm a self learner, always searching for new knowledge and for a new challenge to improve my skills and be the very best (where did I hear that before?).
				</p>
			</div>
			<p class="skills-p">I have knowledge and practice in the following skills:</p>
			<ul class="skills">
				<li class="skills-item">Ruby on Rails</li>
				<li class="skills-item">HTML5</li>
				<li class="skills-item">CSS</li>
				<li class="skills-item">Javascript</li>
				<li class="skills-item">Git</li>
				<li class="skills-item">And more will come...</li>
			</ul>
			<p class="second-p">Want to see my work? Check out my portfolio.</p>
			<%= link_to 'Take me there!', portfolios_path, class: "about-link" %>
			<p class="second-p">Let's have a word together.</p>
			<%= link_to 'Get In Touch', contacts_path, class: "about-link" %>
		</div>
	</div>
</div>