<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @portfolio_category.name %>
</p>

<%= link_to 'Edit', edit_portfolio_category_path(@portfolio_category) %> |
<%= link_to 'Back', portfolio_categories_path %>
