<article class="post">
	<hr>
	<h2>
		<%= link_to post.name, post_path(post.id) %>
	</h2>
	<i class="fa fa-tag post-tag">
		<span>
			<%= post.category.name %>
		</span>
	</i>
	<!-- <span class="post-body"> -->
		<%= post.body.truncate(500).html_safe %>
	<!-- </span> -->
	<p class="post-rm">
		<strong><%= link_to 'Read More', post_path(post.id) %></strong>
	</p>
</article>