<article class="post">
	<h2>
		<%= link_to post.name, post_path(post.id) %>
	</h2>
	<i class="fa fa-tags post-tags">
		<span>
			<%= post.category.name %>
		</span>
	</i>
	<span>
		<%= post.body.truncate(500).html_safe %>
	</span>
	<p>
		<%= link_to 'Read More', post_path(post.id) %>
	</p>
	<hr>
</article>