<h1>Listing Posts</h1>

<a href="javascript:;" id="filter-life">Life</a>
<br>
<a href="javascript:;" id="filter-ht">How To</a>
<br>
<a href="javascript:;" id="filter-opinion">Opinion</a>
<br>
<a href="javascript:;" id="filter-games">Games</a>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.body.html_safe %></td>
        <td><%= post.category.name %></td>
        <td><%= link_to 'Show', post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
