<div class="p-body">
	<article class="post-show">
		<h2 class="post-title">
		  <%= @post.name %>
		</h2>
		<span><%= @post.created_at %></span>
		<span>
			<i class="fa fa-tag post-tag"></i><%= @post.category.name %>
		</span>
		<div class="post-body">
			<%= @post.body.html_safe %>
		</div>
	</article>
</div>