<div class="p-body">
	<article class="post-show">
		<h2 class="post-title">
		  <%= @post.name %>
		</h2>
		<span class="post-date">
			<%=l @post.created_at, format: ("%^B %Y") %>
		</span>
		<span class="post-cat">
			<i class="fa fa-tag post-tag"></i><%= @post.category.name %>
		</span>
		<div class="post-body">
			<%= @post.body.html_safe %>
		</div>
	</article>
</div>