/*
**********************************************
**********************************************
			GENERAL STYLES
**********************************************
**********************************************
*/

/*BLACK = #020304*/
/*GREYISH = #938172*/
/*DARK GREYISH = #626266*/
/*MAROONISH = #CC9E61*/
/*REDISH = #541F14*/

html {
	font-family: sans-serif;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	display: inline;
	font-size: 1rem;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

ul li {
	display: inline;
}

i {
	color: white;
}

section {
	display: flex;
	flex-direction: column;
}

.Gem {
	padding: 0 5px;
	margin-right: 5px;
	background-color: #33CC66;
	border-radius: 5px;
	color: white;
	font-size: .7rem;
}
.Javascript {
	padding: 0 5px;
	margin-right: 5px;
	background-color: #f2d50a;
	border-radius: 5px;
	color: white;
	font-size: .7rem;
}
.Ruby {
	padding: 0 5px;
	margin-right: 5px;
	background-color: #CC342D;
	border-radius: 5px;
	color: white;
	font-size: .7rem;
}
.HTML {
	padding: 0 5px;
	margin-right: 5px;
	background-color: orange;
	border-radius: 5px;
	color: white;
	font-size: .7rem;
}
.CSS {
	padding: 0 5px;
	margin-right: 5px;
	background-color: #36A8DE;
	border-radius: 5px;
	color: white;
	font-size: .7rem;
}
.Android {
	padding: 0 5px;
	margin-right: 5px;
	background-color: #7CC95C;
	border-radius: 5px;
	color: white;
	font-size: .7rem;
}
.iOS {
	padding: 0 5px;
	margin-right: 5px;
	background-color: #333333;
	border-radius: 5px;
	color: white;
	font-size: .7rem;
}

/*
**********************************************
**********************************************
			HEADER STYLES
**********************************************
**********************************************
*/


.pre-content {
	background-color: #020304;
	flex-wrap: wrap;
}
	.nav-btns li {
		height: 100%;
		padding: 16px 0;
	}
	.nav-a {
		color: white;
		padding: 16px 72px;
	}
	.nav-btns li:hover:not(:first-child) {
		background-color: #626266;
	}
	.menu_ck {
		display: none;
	}
	.menu_lb {
		display: none;
	}
	.nav-btns-resp {
		display: none;
	}

/*
**********************************************
**********************************************
			BODY STYLES
**********************************************
**********************************************
*/

/* HIDE RESPONSIVE ELEMENTS */

	.filter-cats-resp {
		display: none;
	}
	.p-filter-resp {
		display: none;
	}

/* FINISH HIDE RESPONSIVE ELEMENTS */

.content {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	background-color: #e7e7e7;
}
	.p-body {
		background-color: white;
		width: 850px;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-right: -58px;
		padding: 30px 15px;
	}
		.post-article {
			text-align: justify;
		}
		.post-article h2 {
			color: black;
			display: inline;
			text-transform: capitalize;
		}
		.post-article h2 a {
			color: black;
		}
		.post-article i {
			display: block;
			font-size: .8.5rem;
			color: black;
			margin: 1% 0;
		}
		.post {
			margin: 15px 10px;
		}
		.post a {
			color: blue;
			opacity: 0.7;
		}

		.filter-cats {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin-top: 10px;
			margin-bottom: 60px;
		}
			.filter-cats input {
				display: none;
			}
			.filter-cats label {
				display: inline;
				padding: 15px 62px;
				border-color: #938172;
				border-bottom-style: solid;
				border-bottom-width: 6px;
				cursor: pointer;
			}
			.filter-cats .active {
				border-color: #AB2222;
			}
			.filter-cats label:hover:not(.active) {
				border-color: #AB2222;
			}

	.post-show {
		margin-top: -20px;
		margin-left: 12px;
		margin-right: 12px;
		margin-bottom: 25px;
		text-align: justify;
	}
		.post-title {
			text-transform: capitalize;
		}
		.post-cat {
			display: block;
			font-size: .85rem;
			margin: 10px 0;
		}
		.post-date {
			display: block;
			margin-bottom: 6px;
			font-size: .8rem;
		}
		.post-cat i {
			margin-right: 5px;
			color: black;
		}
		.post-show .post-body {
			margin-top: 20px;
			line-height: 26px;
		}
		pre {
			margin: 20px 0;
			border-style: solid;
			border-width: 1px;
			border-color: grey;
		}
		pre code {
			display: block;
			margin: 5px 5px;
			line-height: 20px;
		}
	.recent-articles {
	}

		.recent-articles .about-me{
			background-color: white;
			height: 50%;
			width: 360px;
			margin-top: 20px;
			margin-bottom: 20px;
			margin-left: -58px;
			padding: 20px 15px;
		}
			.about-me p {
				text-align: justify;
				line-height: 22px;
			}
			.about-me .social-links {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				padding: 10px 0;
			}
				.social-links a {
					display: block;
				}
				.social-links #btn-fb {
					color: #45619D;
				}
				.social-links #btn-tw {
					color: #339CC3;
				}
				.social-links #btn-in {
					color: #1B86BC;
				}
			.about-me img {
				display: block;
				border-radius: 15px;
				width: 80%;
				height: auto;
				margin-top: 15px;
				margin-left: auto;
				margin-right: auto;
			}

		.recent-articles .r-posts {
			background-color: white;
			height: 50%;
			width: 360px;
			margin-top: 20px;
			margin-bottom: 20px;
			margin-left: -58px;
			padding: 20px 15px;
		}

		.recent-articles .r-categories {
			margin-top: 20px;
			background-color: white;
			width: 360px;
			margin-top: 20px;
			margin-bottom: 20px;
			margin-left: -58px;
			padding: 20px 15px;
		}
			.r-categories input {
				display: none;
			}
			.r-categories label {
				display: block;
				cursor: pointer;
			}
			.r-categories label:hover {
				text-decoration: underline;
			}

		.recent-articles i {
			color: black;
		}

		.recent-articles span {
			font-size: 1.3rem;
			font-weight: 400px;
		}

		.recent-articles h3 a {
			color: black;
			text-transform: capitalize;
			text-align: justify;
		}
		.recent-articles h3 a:hover {
			text-decoration: underline;
		}

.portfolios {
	width: 850px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: -58px;
	padding: 0 10px;
}
	.p-filter {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		margin-bottom: 50px;
		padding: 10px 0;
	}
		.p-filter input {
			display: none;
		}
		.p-filter label {
			display: inline;
			padding: 15px 35px;
			border-color: #938172;
			border-bottom-style: solid;
			border-bottom-width: 3px;
			cursor: pointer;
		}
		.p-filter .active {
			border-color: #AB2222;
			border-bottom-width: 6px;
		}
		.p-filter label:hover:not(.active) {
			border-color: #AB2222;
			border-bottom-width: 6px;
		}
	.portfolio-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		align-content: flex-start;
	}
	.portfolio-article {
		width: 360px;
		height: 360px;
		margin-bottom: 30px;
		padding-bottom: 50px;
		background-color: white;
	}
		.p-image {
			width: 100%;
			height: 55%;
			margin-bottom: 5%;
			background-color: white;
			overflow: hidden;
		}
		.p-image img {
			width: 100%;
		}
		.portfolio-article h3 {
			margin: 10px 5%;
			text-align: justify;
			text-transform: capitalize;
		}
		.portfolio-article h3 a {
			color: black;
		}
		.p-categories {
			margin: 0 5%;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
		}
		.portfolio-article .p-description {
			margin: 20px 5%;
			height: 20%;
			text-align: justify;
			text-transform: capitalize;
		}
		.p-more {
			text-align: center;
			text-decoration: none;
			color: black;
			font-style: bold;
		}
		.p-more a {
			padding: 5px 5px;
			color: black;
		}
		.p-more a:hover {
			text-decoration: underline;
		}
	.portfolio-show {
		background-color: white;
		padding: 0 25px;
		width: 700px;
	}
	.portfolio-img {
		width: 100vw;
		height: 400px;
		overflow: hidden;
		background-color: white;
	}
	.portfolio-img img {
		width: 100%;
	}
	.portfolio-show h2 {
		text-transform: capitalize;
	}
	.portfolio-show .p-categories {
		margin: 0 0;
	}
	.portfolio-show .portfolio-desc {
		text-align: justify;
		line-height: 20px;
		margin: 30px 0;
	}
	.portfolio-show .go-btn {
		color: black;
		display: block;
		padding: 10px 10px;
		margin-bottom: 20px;
		width: 14%;
		margin-left: auto;
		margin-right: auto;
		border-width: 2px;
		border-style: solid;
		border-radius: 10px;
		border-color: #626266;
	}

/*
**********************************************
**********************************************
			FOOTER STYLES
**********************************************
**********************************************
*/

.post-content {
	padding: 10px 0;
	background-color: #020304;
	color: white;
	font-size: .7rem;
	text-align: center;
}
	.copyright {
		margin: 10px 0;
	}

/*
**********************************************
**********************************************
			MEDIA QUERIES
**********************************************
**********************************************
*/

@media (max-width: 480px) {
	nav {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.nav-btns li:not(:first-child) {
		display: none;
	}
	.nav-btns li h1 {
		display: inline-block;
		margin-left: -90px;
		line-height: 10px;
		font-size: 1.3rem;
	}
	.menu_lb {
		margin-top: 16px;
		margin-right: 20px;
		display: inline-block;
	}
	.nav-btns-resp {
		display: flex;
		flex-flow: column;
		justify-content: center;
		width: 100%;
		margin-left: -40px;
		margin-top: -5px;
	}
	.nav-btns-resp li {
		text-align: center;
		width: 100%;
		padding: 30px 0;
	}
	.recent-articles {
		display: none;
	}
	.p-body {
		background-color: white;
		margin: 0 0;
	}
		.filter-cats {
			display: none;
		}
		.filter-cats-resp {
			display: block;
			margin-top: -5px;
			margin-bottom: 25px;
			text-align: center;
		}
		.filter-cats-resp select {
			width: 95%;
		}
		.post h2 {
			display: block;
			font-size: 1.5rem;
			line-height: 30px;
		}
		.post i {
			margin-bottom: 20px;
			font-size: .9rem;
		}
		.post .post-body {
			font-size: 1.1rem;
			line-height: 25px;
		}
		.post p {
			text-align: center;
		}

	.portfolios {
		padding: 0 0;
		margin: 0 0;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: space-center;
	}
	.p-filter {
		width: 100%;
	}
	.portfolio-article {
		width: 80%;
		height: 380px;
	}
		.portfolio-article .p-image {
			height: 50%;
		}
		.portfolio-article h3 {
			font-size: 1.6rem;
		}
		.portfolio-article .p-description {
			line-height: 20px;
		}
		.portfolio-article .p-more {
			margin-top: 40px;
		}
	.p-filter {
		display: none;
	}
	.p-filter-resp {
		display: block;
		margin: 20px 0;
		text-align: center;
	}
		.p-filter-resp select {
			width: 80%;
		}
	.portfolio-img {
		width: 100vw;
		height: 190px;
		overflow: hidden;
		background-color: white;
	}
	.portfolio-show h2 {
		font-size: 1.5rem;
	}
	.portfolio-show .portfolio-desc {
		font-size: 1rem;
		line-height: 30px;
	}
	.portfolio-show .go-btn {
		color: black;
		display: block;
		padding: 10px 10px;
		margin-bottom: 30px;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		border-width: 2px;
		border-style: solid;
		border-radius: 10px;
		border-color: #626266;
	}

}

