/*
**********************************************
**********************************************
			GENERAL STYLES
**********************************************
**********************************************
*/

/*BLACK = #020304*/
/*GREYISH = #938172*/
/*DARK GREYISH = #626266*/
/*MAROONISH = #CC9E61*/
/*REDISH = #541F14*/

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

h1 {
	display: inline;
	font-size: 1rem;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

ul li {
	display: inline;
}

i {
	color: white;
}

section {
	display: flex;
	flex-direction: column;
}

/*
**********************************************
**********************************************
			HEADER STYLES
**********************************************
**********************************************
*/


.pre-content {
	background-color: #020304;
	flex-wrap: wrap;
}
	.nav-btns li {
		height: 100%;
		padding: 16px 5vw;
	}
	.nav-a {
		color: white;
	}
	.nav-btns li:hover:not(:first-child) {
		background-color: #626266;
	}

/*
**********************************************
**********************************************
			BODY STYLES
**********************************************
**********************************************
*/

.content {
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	background-color: #e7e7e7;
}
	.p-body {
		background-color: white;
		width: 60vw;
		margin-top: 3vh;
		margin-bottom: 3vh;
		margin-right: -4vw;
		padding: 4vh 1vw;
	}

		.post-article {
			text-align: justify;
		}

		.post-article h2 {
			color: black;
			display: inline;
			text-transform: capitalize;
		}
		.post-article h2 a {
			color: black;
		}
		.post-article i {
			display: block;
			font-size: .8.5rem;
			color: black;
			margin: 1% 0;
		}
		.post {
			margin: 15px 0;
		}
		.post a {
			color: blue;
			opacity: 0.7;
		}

		.filter-cats {
			display: block;
			margin: 8vh 0;
		}

			.filter-cats input {
				display: inline;
				margin: 0 3vw;
			}

	.recent-articles {
	}

		.recent-articles .about-me{
			display: flex;
			flex-direction: column;
			background-color: white;
			height: 50%;
			width: 25vw;
			margin-top: 3vh;
			margin-bottom: 2vh;
			margin-left: -4vw;
			padding: 3vh 1vw;
		}
			.about-me img {
				display: block;
				border-radius: 15px;
				width: 80%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
			}

			.social-links {}

		.recent-articles .r-posts {
			background-color: white;
			height: 50%;
			width: 25vw;
			margin-top: 2vh;
			margin-bottom: 2vh;
			margin-left: -4vw;
			padding: 3vh 1vw;
		}

		.recent-articles .r-categories {
			margin-top: 5vh;
			background-color: white;
			width: 25vw;
			margin-top: 3vh;
			margin-bottom: 2vh;
			margin-left: -4vw;
			padding: 3vh 1vw;
		}

		.recent-articles i {
			color: black;
		}

		.recent-articles span {
			font-size: 1.3rem;
			font-weight: 400px;
		}

		.recent-articles h3 a {
			color: black;
			text-transform: capitalize;
			text-align: justify;
		}
		.recent-articles h3 a:hover {
			text-decoration: underline;
		}

/*
**********************************************
**********************************************
			ASIDE STYLES
**********************************************
**********************************************
*/

/*.social-links {
	margin: 20vh -5vw;
}*/

.social-links i {
	color: black;
}

/*.social-links a {
	display: block;
	padding: 1vh .5vw;
	margin-top: 1vh;
}*/

/*
**********************************************
**********************************************
			FOOTER STYLES
**********************************************
**********************************************
*/

.post-content {
	padding: 1.5vh 0;
	background-color: #020304;
	color: white;
	font-size: .6rem;
	text-align: center;
}
	.copyright {
		margin: 1vh 0;
	}

